.div-title-red {
    font-weight: bold;
    padding-top: 12px;
    color: red;
}
.div-title {
    font-weight: bold;
    padding-top: 12px;
}

[class *="color"] {
    width: 50px;
    /* height: 24px; */
    margin: 1px;
}
.color1 {
    background-color: yellow;
}

.color2 {
    background-color: greenyellow;
}

.color3 {
    background-color: aqua;
}

[class *="flex-container"] {
    display: flex;
    border: magenta 1px solid;
}

.flex-container11 {
    flex-direction: row;
}
.flex-container11 div {
    border: black 1px solid;
}

.flex-container12 {
    flex-direction: row-reverse;
}
.flex-container12 div {
    border: black 1px solid;
}

.flex-container13 {
    flex-direction: column;
}
.flex-container13 div {
    border: black 1px solid;
}

.flex-container14 {
    flex-direction: column-reverse;
}
.flex-container14 div {
    border: black 1px solid;
}

.flex-container21 {
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-container21 div {
    border: black 1px solid;
}
.flex-container22 {
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-container22 div {
    border: black 1px solid;
}
.flex-container23 {
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.flex-container23 div {
    border: black 1px solid;
}

.flex-container31 {
    flex-flow: row nowrap;
}
.flex-container31 div {
    border: black 1px solid;
}

.flex-container32 {
    flex-flow: row-reverse wrap-reverse;
}
.flex-container32 div {
    border: black 1px solid;
}

.flex-container33 {
    flex-flow: row-reverse  wrap;
}
.flex-container33 div {
    border: black 1px solid;
}

.flex-container41 {
    justify-content: flex-start;
}
.flex-container41 div {
    border: black 1px solid;
}
.flex-container42 {
    justify-content: flex-end;
}
.flex-container42 div {
    border: black 1px solid;
}
.flex-container43 {
    justify-content: center;
}
.flex-container43 div {
    border: black 1px solid;
}
.flex-container44 {
    justify-content: space-around;
}
.flex-container44 div {
    border: black 1px solid;
}
.flex-container45 {
    justify-content: space-between;
}
.flex-container45 div {
    border: black 1px solid;
}

.flex-container46 {
    justify-content: space-evenly;
}
.flex-container46 div {
    border: black 1px solid;
}

.flex-container51 {
    align-items: stretch;
    height: 100px;
}
.flex-container51 div {
    border: black 1px solid;
}

.flex-container52 {
    align-items: flex-start;
    height: 100px;
}
.flex-container52 div {
    border: black 1px solid;
}

.flex-container53 {
    align-items: flex-end;
    height: 100px;
}
.flex-container53 div {
    border: black 1px solid;
}

.flex-container54 {
    align-items: center;
    height: 100px;
}
.flex-container54 div {
    border: black 1px solid;
}

.flex-container55 {
    align-items: baseline;
    height: 100px;
}
.flex-container55 div {
    border: black 1px solid;
}

.flex-container61 {
    align-content: stretch;
    height: 100px;
    flex-wrap: wrap;
}
.flex-container61 div {
    border: black 1px solid;
}

.flex-container62 {
    align-content: flex-start;
    height: 100px;
    flex-wrap: wrap;
}
.flex-container62 div {
    border: black 1px solid;
}

.flex-container63 {
    align-content: flex-end;
    height: 100px;
    flex-wrap: wrap;
}
.flex-container63 div {
    border: black 1px solid;
}

.flex-container64 {
    align-content: center;
    height: 100px;
    flex-wrap: wrap;
}
.flex-container64 div {
    border: black
     1px solid;
}

.flex-container65 {
    align-content: space-around;
    height: 100px;
    flex-wrap: wrap;
}
.flex-container65 div {
    border: black 1px solid;
}

.flex-container66 {
    align-content: space-between;
    height: 100px;
    flex-wrap: wrap;
}
.flex-container66 div {
    border: black 1px solid;
}

.flex-container111 {
    align-content: space-between;
    flex-wrap: nowrap;
}
.flex-container111 div {
    border: black 1px solid;
}

.flex-container112 {
    align-content: space-between;
    flex-wrap: nowrap;
}
.flex-container112 div {
    border: black 1px solid;
    width: auto;
}
.flex-container113 {
    align-content: space-between;
    flex-wrap: nowrap;
}
.flex-container113 div {
    border: black 1px solid;
    width: 150px;
}






.flex-container-footer {
    justify-content: space-around;
    margin-top: 16px;
}
.flex-container-footer div {
    border: black 1px solid;
    width: 200px;
    height: 50px;;
}

