.div-title {
    font-weight: bold;
    padding-top: 12px
}

[class *="color"] {
    width: 50px;
}
.color1 {
    background-color: yellow;
}

.color2 {
    background-color: greenyellow;
}

.color3 {
    background-color: aqua;
}

[class *="flex-container"] {
    display: flex;
    border: magenta 1px solid;
}

.flex-container11 {
    flex-direction: row;
}
.flex-container11 div {
    border: black 1px solid;
}

.flex-container12 {
    flex-direction: row-reverse;
}
.flex-container12 div {
    border: black 1px solid;
}

.flex-container13 {
    flex-direction: column;
}
.flex-container13 div {
    border: black 1px solid;
}

.flex-container14 {
    flex-direction: column-reverse;
}
.flex-container14 div {
    border: black 1px solid;
}

.flex-container21 {
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-container21 div {
    border: black 1px solid;
}
.flex-container22 {
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-container22 div {
    border: black 1px solid;
}
.flex-container23 {
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.flex-container23 div {
    border: black 1px solid;
}

.flex-container31 {
    flex-flow: row nowrap;
}
.flex-container31 div {
    border: black 1px solid;
}

.flex-container32 {
    flex-flow: row wrap;
}
.flex-container32 div {
    border: black 1px solid;
}

.flex-container33 {
    flex-flow: row wrap-reverse;
}
.flex-container33 div {
    border: black 1px solid;
}

